<div class="main-wrapper">
    <div class="header" *ngIf="currentUser">
        <div class="header-left">
            <a href="index-2.html" class="logo">
                <img src="assets/img/logomarca.png" width="35" height="35" alt=""> <span>Sispsico</span>
            </a>
        </div>
        <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
        <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
        <ul class="nav user-menu float-right">
            <li class="nav-item dropdown d-none d-sm-block">
                <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                    <span class="user-img">
                        <img class="rounded-circle" src="assets/img/user.jpg" width="24" alt="Admin">
                        <span class="status online"></span>
                    </span>
                    <span>&nbsp; {{ currentUser.nome || ''}}</span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/perfil">Editar Perfil</a>
                    <a class="dropdown-item" (click)="logout()">Sair</a>
                </div>
            </li>
        </ul>
        <div class="dropdown mobile-user-menu float-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                    class="fa fa-ellipsis-v"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" routerLink="/perfil">Editar Perfil</a>
                <a class="dropdown-item" (click)="logout()">Sair</a>
            </div>
        </div>
    </div>

    <div class="sidebar" id="sidebar" *ngIf="currentUser">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="menu-title">Menu</li>
                    <ng-container *ngIf="currentUser.papel == 'P' || currentUser.papel == 'M' || currentUser.papel== 'A'">
                        <li>
                            <a routerLink="/agendamento"><i class="fa fa-tasks"></i> <span>Atendimento</span></a>
                        </li>
                        <li *ngIf="currentUser.papel == 'P' || currentUser.papel == 'M'">
                            <a routerLink="/minha-agenda"><i class="fa fa-calendar"></i> <span>Minha Agenda</span></a>
                        </li>
                        <li>
                            <a routerLink="/pacientes"><i class="fa fa-wheelchair"></i> <span>Pacientes</span></a>
                        </li>
                    </ng-container>
                    <ng-container *ngIf="currentUser.admin">
                        <li>
                            <a routerLink="/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);"><i class="fa fa-gear"></i> <span> Cadastros</span> <span
                                    class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a routerLink="/usuarios">Usuários</a></li>
                                <li><a routerLink="/atendentes">Atendentes</a></li>
                                <li><a routerLink="/psicologos">Psicólogos</a></li>
                                <li><a routerLink="/medicos">Médicos</a></li>
                            </ul>
                        </li>
                        <!-- <li class="submenu">
                            <a href="javascript:void(0);"><i class="fa fa-money"></i> <span> Financeiro </span> <span
                                    class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a routerLink="/financeiro/fatura">Contas a Pagar</a></li>
                                <li><a routerLink="/financeiro/pagamento">Pagamentos</a></li>
                                <li><a routerLink="/financeiro/fatura">Contas a Receber</a></li>
                                <li><a routerLink="/financeiro/pagamento">Recebimentos</a></li>
                                <li><a routerLink="/financeiro/pagamento">Fluxo de Caixa</a></li>
                                <li><a routerLink="/financeiro/pagamento">Tesouraria</a></li>
                                <li><a href="expenses.html"></a></li>
                            </ul>
                        </li> -->
                    </ng-container>

                </ul>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>
<div class="sidebar-overlay" data-reff=""></div>