<div class="page-wrapper">
  <div class="content">
      <div class="row">
          <div class="col-lg-8 offset-lg-2">
              <h4 class="page-title">Agendamento</h4>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form [formGroup]="resourceForm" (ngSubmit)="onSubmit()">
               <div class="row">
                  <div class="col-sm-6">
                    <div class="from-group">
                      <label>Paciente (Nome)</label>
                      <div class="input-group mb-3">

                        <input type="text" 
                        class="form-control"
                        placeholder="" formControlName="nome"
                        [ngClass]="{
                          'is-invalid':
                            resourceForm.get('nome').invalid &&
                            resourceForm.get('nome').touched
                        }"
                        >
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="gerarModalPaciente()">
                              <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <div
                        class="invalid-feedback"
                        *ngIf="
                          resourceForm.get('nome').invalid &&
                          resourceForm.get('nome').touched
                        "
                        >
                          <div *ngIf="resourceForm.get('nome').errors.required">
                            Campo Obrigatório
                          </div>
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6"  >
                    <div class="from-group" *ngIf="currentUser.user.papel != 'P' || currentUser.user.admin">
                      <label>Psicólogo <span class="text-danger">*</span></label>
                      <div class="input-group mb-3">
                        <input type="text" 
                          class="form-control"
                          placeholder="" 
                          value="{{ nomePsicologo }}"
                          readonly
                          [ngClass]="{
                            'is-invalid': (nomePsicologo == null || nomePsicologo == '')
                        }"
                        >
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="gerarModalUsuario()">
                              <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <div
                        class="invalid-feedback"
                        *ngIf="
                          (nomePsicologo == null || nomePsicologo == '')
                        "
                        >
                          <div>
                            Campo Obrigatório
                          </div>
                      </div>
                      </div>
                    </div>
                  </div>
                 
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Responsável</label>
                      <input class="form-control" formControlName="responsavel">
                    </div>
                  </div>
  
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Telefone</label>
                      <input class="form-control" mask="(00) 0000-0000" formControlName="telefone">
                    </div>
                  </div>
                  
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Celular</label>
                      <input class="form-control" mask="(00) 00000-0000"  formControlName="celular">
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Data Inicio</label>
                      <input type="text"
                          placeholder=""
                          class="form-control"
                          formControlName="data_inicio"
                          bsDatepicker
                          [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                          >
                    </div>
                  </div>
                
                  <div class="col-sm-3">
                    <label>Horas</label>
                    <select class="form-control" formControlName="hora_inicio">
                      <option *ngFor="let item of horas" value="{{ item }}" >{{ item }}</option>
                    </select>
                  </div>
              
                  <div class="col-sm-3">
                    <label>Min</label>
                    <select class="form-control" formControlName="min_inicio">
                      <option *ngFor="let item of listaMin" value="{{ item }}" >{{ item }} Min</option>
                    </select>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Data Final</label>
                      <input type="text"
                          placeholder=""
                          class="form-control"
                          formControlName="data_final"
                          bsDatepicker
                          [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                          >
                    </div>
                  </div>
                
                  <div class="col-sm-3">
                    <label>Horas</label>
                    <select class="form-control" formControlName="hora_final">
                      <option *ngFor="let item of horas" value="{{ item }}" >{{ item }}</option>
                    </select>
                  </div>
              
                  <div class="col-sm-3">
                    <label>Min</label>
                    <select class="form-control" formControlName="min_final">
                      <option *ngFor="let item of listaMin" value="{{ item }}" >{{ item }} Min</option>
                    </select>
                  </div>

                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Situação <span class="text-danger">*</span></label>
                      <select class="form-control" formControlName="situacao">
                        <option selected value="R">Reservado</option>
                        <option value="C">Confirmado</option>
                        <option value="A">Atendido</option>
                      </select>
                    </div>
                  </div>
                  <br/> 
                  <div class="col-sm-12 m-t-20 text-center">
                    <button class="btn btn-primary submit-btn" [disabled]="resourceForm.invalid && (nomePsicologo == null || nomePsicologo == '')">Salvar Agenda</button>
                  </div>
               </div>
            </form>
        </div>
      </div>        
  </div>
</div>