<div class="page-wrapper">
  <div class="content">
      <div class="row">
          <div class="col-lg-8 offset-lg-2">
              <h4 class="page-title">Editar Perfil</h4>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form [formGroup]="perfilForm" (ngSubmit)="onSubmitPerfilForm()">
               <div class="row">
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label>Nome <span class="text-danger">*</span></label>
                          <input class="form-control" type="text" formControlName="nome"
                          [ngClass]="{
                            'is-invalid':
                              perfilForm.get('nome').invalid &&
                              perfilForm.get('nome').touched
                          }"
                          >
                          <div
                          class="invalid-feedback"
                          *ngIf="
                            perfilForm.get('nome').invalid &&
                            perfilForm.get('nome').touched
                          "
                          >
                            <div *ngIf="perfilForm.get('nome').errors.required">
                              Campo Obrigatório
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                        <label>Email <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" formControlName="email"
                        [ngClass]="{
                          'is-invalid':
                            perfilForm.get('email').invalid &&
                            perfilForm.get('email').touched
                        }"
                        >
                        <div
                        class="invalid-feedback"
                        *ngIf="
                          perfilForm.get('email').invalid &&
                          perfilForm.get('email').touched
                        "
                        >
                          <div *ngIf="perfilForm.get('email').errors.required">
                            Campo Obrigatório
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                        <label>Usuário <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" formControlName="usuario"
                        [ngClass]="{
                          'is-invalid':
                            perfilForm.get('usuario').invalid &&
                            perfilForm.get('usuario').touched
                        }"
                        >
                        <div
                        class="invalid-feedback"
                        *ngIf="
                          perfilForm.get('usuario').invalid &&
                          perfilForm.get('usuario').touched
                        "
                        >
                          <div *ngIf="perfilForm.get('usuario').errors.required">
                            Campo Obrigatório
                          </div>
                      </div>
                    </div>
                </div>
              
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Logradouro</label>
                    <input class="form-control" formControlName="logradouro">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Número</label>
                    <input class="form-control" formControlName="numero">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Bairro</label>
                    <input class="form-control" formControlName="bairro">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Cidade</label>
                    <input class="form-control" formControlName="cidade">
                  </div>
                </div>

               
                <br/>
                <div class="col-sm-12 m-t-20 text-center">
                  <button class="btn btn-primary submit-btn" [disabled]="perfilForm.invalid">Salvar Perfil</button>
                </div>
               </div>
            </form>
        </div>
      </div> 
      <div class="row mt-4">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">Alterar Senha</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 offset-lg-2">

          <div class="alert alert-danger hide" *ngIf="listErrors.length > 0">
            <p *ngFor="let item of listErrors" >{{ item }}</p>
          </div>

          <form [formGroup]="alterarSenhaForm" (ngSubmit)="onSubmitAlterarSenhaForm()" >
            <div class="row">
              <div class="col-lg-4">
                <label>Senha Atual <span class="text-danger">*</span></label>
                <input class="form-control" formControlName="senha_atual"  type="password">
              </div>
              <div class="col-lg-4">
                <label>Nova Senha <span class="text-danger">*</span></label>
                <input class="form-control" formControlName="password"  type="password">
              </div>
              <div class="col-lg-4">
                <label>Confirmar Nova Senha <span class="text-danger">*</span></label>
                <input class="form-control" formControlName="confirm_password" type="password">
                <div class="text-danger" *ngIf="alterarSenhaForm.hasError('passwordNotEqual')">
                  As senhas são diferentes. Eles devem ser iguais!</div>
              </div>
               <br/>
              <div class="col-sm-12 m-t-20 text-center">
                <button class="btn btn-primary submit-btn" [disabled]="alterarSenhaForm.invalid">Alterar Senha</button>
              </div>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>