<div class="page-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
          <div class="dash-widget">
            <span class="dash-widget-bg1"><i class="fa fa-stethoscope" aria-hidden="true"></i></span>
            <div class="dash-widget-info text-right">
              <h3>{{ dashboard.qtd_psicologos }}</h3>
              <span class="widget-title1">Psicólogos <i class="fa fa-check" aria-hidden="true"></i></span>
            </div>
          </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="dash-widget">
            <span class="dash-widget-bg2"><i class="fa fa-user-o"></i></span>
            <div class="dash-widget-info text-right">
                <h3>{{ dashboard.qtd_pacientes }}</h3>
                <span class="widget-title2">Pacientes <i class="fa fa-check" aria-hidden="true"></i></span>
            </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="dash-widget">
            <span class="dash-widget-bg3"><i class="fa fa-user-md"></i></span>
            <div class="dash-widget-info text-right">
                <h3>{{ dashboard.qtd_agendamento_atendido }}</h3>
                <span class="widget-title3">Atendidos <i class="fa fa-check" aria-hidden="true"></i></span>
            </div>           
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="dash-widget">
            <span class="dash-widget-bg4"><i class="fa fa-heartbeat"></i></span>
            <div class="dash-widget-info text-right">
                <h3>{{ dashboard.qtd_agendamento_pendente }}</h3>
                <span class="widget-title4">Pendentes <i class="fa fa-check" aria-hidden="true"></i></span>
            </div>           
        </div>
      </div>
    </div>
  </div>
</div>


